<!-- ADD ROLE -->
<div>
    <h4 class="mb-2">ROLE Credentials</h4>
    <table class="table">
      <thead>
        <tr>
          <th>Role Id</th>
          <th>Role Title</th>
          
        
        </tr>
      </thead>
      <tbody>
        <tr>
            <td>1</td>
            <td>Supplier</td>
            <td>
                <button class="btn btn-danger">
                  Delete
                </button>
              </td>
        </tr>
            <tr>
                <td>2</td>
                <td>Catalog</td> <td>
                    <button class="btn btn-danger">
                      Delete
                    </button>
                  </td></tr>
                <tr>
                    <td>3</td>
                    <td>Oms</td> <td>
                        <button class="btn btn-danger">
                          Delete
                        </button>
                      </td></tr>
                    <tr>
                        <td>4</td>
                        <td>Manager</td> <td>
                            <button class="btn btn-danger">
                              Delete
                            </button>
                          </td></tr>
      </tbody>
    </table>
    <a class="btn btn-primary btn-lg btn-block" style="background-color: #55acee" href="add-role" role="button">
        Continue to add More Role </a>

        <a class="btn btn-primary btn-lg btn-block" style="background-color: #3b5998" href="add-userbyrole" role="button">
            Continue with add User By roleId
            </a>
            
            <a class="btn btn-primary btn-lg btn-block" href="" role="button">
                Go Back Home
                </a>
  </div>